*{margin:0;
 padding:0px;
 box-sizing:border-box;
 font-family:italic;}
 .container{
	 height:470px;
	 background:#;
	 display:flex;
	 justify-content:center;
	 align-items:center;
	 background:no-repeat center center/cover;
 }
 .container form {
	 width:670px;
	 height:350px;
	 display:flex;
	 justify-content:center;
	 box-shadow:20px 20px 50px rgb(0,0,0,0.5);
	 background:rgb(255,255,255,0.1);
	 border-radius:15px;
	 flex-wrap:wrap;
 }
  .container form h1{
	  color:white;
	  font-weight:500;
	  margin-top:20px;
	  width:500px;
	  text-align:center;
  } 
 .container form input{
	 width:290px;
	 height:70px;
	 padding-left:10px;
	 outline:none;
	 border:none;
	 font-size:15px;
	 margin-Bottom:10px;
	 background:none;
	 border-bottom:2px solid black;
	 
 }
 .container form input:{
	 color:#222424;
 }
 .container form #Last name{
	 margin-left:20px;
 }
 .container form #Mobile{
	 margin-left:20px;
 }

 .container form h3{
	 color:#222424;
	 font-weight:300px;
	 width:400px;
	 height:50px;
	 margin-top:10px;
	 margin-left:30px;
	 border-bottom:2px solid black;
 }

.container form #button:hover{
	opacity:0.07;
}
.jo{
	width:100px;
	height:40px;
	margin-top:100px;
	margin:auto;
	
}